/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
    border: none;
    background-color: rgba(255, 255, 255);
    font-size: 1rem;
    transition: 0.3s color;
    margin: 10px 20px;
}

button:hover {
    color: rgba(0, 0, 0, 0.6);
}

button:active {
    color: rgba(0, 0, 0, 0.4);
}

.hidden {
    display: none;
}

p {
    margin: 10px;
}

/* header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: #6D214F;
    width: 100%;
    height: 100px;
}

.header-title {
    color: white;
}

/* main menu */
.main-menu {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-menu-button {
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.main-menu-button img {
    transition: filter 0.3s ease;
}

.main-menu-button:active img {
    filter: brightness(0.7);
}

/* task list */
.tasks-list {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
}

/* task */
.task {
    width: 400px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-active {
    color: rgb(188, 36, 44);
}

.button-finished {
    color: rgb(49, 186, 49);
}

.task-buttons {
    display: flex;
    flex-direction: row;
}

/* task details */

